@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input-custom{
    background-color: #ededed;
    padding: 12px;
    border-radius: 4px;
  }

  .button-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
    font-size: 10px;
    background-color: #ededed;
    border: 1px solid #ededed;
    padding: 16px;
    border-radius: 4px;
  }

  .button-custom.selected{
    border: 1px solid #8047F8;
    background-color: #EBE5F9;
  }
}